.containerCards {
  display: flex;
  max-width: 700px;
  height: 500px;
  gap: 30px;
  align-content: center;
  justify-content: center;
  text-decoration: none;
}

.containerPost {
  display: flex;
  flex-direction: column;
}

.img {
  width: 400px;
  height: 250px;
}
