.container {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.containerPost {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 700px;
  padding-top: 50px;
}

.postTitle {
  font-size: 50px;
  font-weight: bolder;
}

.postDate {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 20px;
}

.postImg {
  height: 400px;
  width: 100%;
}

.postSubtitle {
  color: grey;
  font-size: 25px;
}
