.container {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.containerLabel {
  color: black;
  font-weight: bold;
  padding-bottom: 15px;
  padding-top: 15px;
}

.containerInput {
  max-height: 60px;
}

.containerMax {
  color: grey;
}
