.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 90%;
}

.container-label {
  color: grey;
  font-weight: bold;
}

.container-input {
  max-height: 60px;
}

.container-max {
  color: grey;
}
