.container {
  width: 100%;
}

.dropDownButton {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 1px solid lightslategray;
  height: 30px;
  padding: 20px;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.iconTextContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dropContentWrapper {
  border: 1px solid lightslategray;
  padding: 15px;
}
