.dropInputWrapper {
  width: 100%;
}

.dropDownbutton {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 1px solid lightslategray;
  height: 30px;
  padding: 20px;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.dropDownContent {
  display: flex;
  background-color: white;
  border: 1px solid lightslategray;
  border-radius: 5px;
  flex-direction: column;
  gap: 10px;
}

.icon-text-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dropContentWrapper {
  border: 1px solid lightslategray;
}
