.container {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 25px;
  font-weight: bold;
}

.containerPosts {
  display: flex;
  height: 500px;
  gap: 30px;
  align-content: center;
  justify-content: center;
}
